html, body {
    max-width: 95%;
	margin: auto;
}

#container {
	position: relative;
	top: 30px;
	outline:1px solid #000;
	font-size: 0;
	margin:auto;
    height:100%;
	width:100%;
	padding: 0;
	border: none;
	float: none;
}

.cell {
	margin:0;
	padding:0;
	border:none;
	outline:0px solid #000;
	display:inline-block;
    height:100%;
    width:100%;
}

#information_bar
{
	float: left;
    display:inline-block;
	outline:0px solid #FFFFFF;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#gol_control_bar
{
	float: right;
	display:inline-block;
	text-align:right;
	outline:0px solid #FFFFFF;
	font-size: 1.5em;
}